<h3>Add a new Pokemon here</h3>
<div>
  <label for="exampleFormControlInput1">Pokemon Name</label>
  <input class="form-control" placeholder="e.g. Pikachu" [(ngModel)]="pokemons.name"><br>

  <label for="exampleFormControlInput1">Pokemon Type</label>
  <input class="form-control" placeholder="e.g. Electric" [(ngModel)]="pokemons.type"><br>

  <label for="exampleFormControlInput1">Pokemon Weight (in kg)</label>
  <input class="form-control" placeholder="e.g. 0.2"[(ngModel)]="pokemons.weight"><br>

  <label for="exampleFormControlInput1">Pokemon Height (in cm)</label>
  <input class="form-control" placeholder="e.g. 20"[(ngModel)]="pokemons.height"><br>
  <button id="add" class="btn btn-outline-success" (click)="addPokemonToList()">Add</button>
</div>
